<div class="jumbotron">
	<div class="container-fluid">
		<h2><a href="http://kantobus.info/timetable/select/?no=1&pu_rn=436&pu_rt=1" target="_blank" class="action_button">
			宇都宮駅西口発</a></h2>
		<table class="table">
			<tr>
				<td>
					<%=link_to '前のバス',{:controller=>:welcome,:action=>:index,:url=>@finder.prev_bus_url},:class=>'btn btn-mini btn-primary' %>
					<%=link_to '次のバス',{:controller=>:welcome,:action=>:index,:url=>@finder.next_bus_url},:class=>'btn btn-mini btn-primary' %>
				</td>
			</tr>

			<tr>
				<td><strong><%=@finder.d_time%></strong>
					乗り場：<%=@finder.bording_number%>
				</td>
			</tr>
			<tr>
				<td><%=@finder.platform_number%> <%=@finder.platform_name%>行</td>
			</tr>
			<tr>
				<td><%=@finder.price%></td>	
			</tr>
			<tr>
				<td><strong><%=@finder.a_time%>(<%=@finder.time_required%>)</strong></td>
			</tr>
			<tr>
				<td><strong><%=@finder.f_to%></strong></td>
			</tr>
		</table>
	</div>
</div>