<h1>関東バス宇都宮駅西口発、バス乗り場検索</h1>
<table cellspacing="0" width="100%">
<tr>
	<td nowrap="nowrap" style="background:#EFEFF0;padding:4px;text-align:right"><span class="place_type">停留所</span></td>
	<td style="background:#EFEFF0;padding:4px;text-align:center;" width="26"></td>
	<td style="background:#EFEFF0;padding:4px;" colspan="2"><strong style="font-size:123%;color:#333;font-weight:bold;"><%=@finder.f_from%></strong>
	<a href="http://kantobus.info/timetable/select/?no=1&pu_rn=436&pu_rt=1" target="_blank" class="action_button">時刻表を表示</a>

</tr>

<tr>
	<td nowrap="nowrap" width="1%" style="padding-right:8px;vertical-align:middle;text-align:right;">
	<span style="font-size:88%;color:#666;"><%=@finder.time_required%></span></td>
	<td style="background:url(/images/bg/line_route_bus.png) center top repeat-y;"></td>
	<td style="padding-left:8px;">
	<strong style="color:#333;font-weight:bold;font-size:1.2em;"><%=@finder.d_time%></strong><br />
	<div style="padding-left:10px;">
		<span style="display:inline-block;"><span style="color:#3A7F00;" no="436" rt="1">
			<%=@finder.platform_number%> <%=@finder.platform_name%>
	</span>
	行（乗り場：？？？）</span>
	<br />
	</div>
	<strong style="color:#333;font-weight:bold;font-size:1.2em;"><%=@finder.a_time%></strong>
	</td>
	<td style="padding-left:8px;vertical-align:middle;text-align:right;">
		<strong style="color:#F77;"><%=@finder.price%></strong>
	<br />
		</td>

</tr>

<tr>
	<td nowrap="nowrap" style="background:#EFEFF0;padding:4px;text-align:right"><span class="place_type">停留所</span></td>
	<td style="background:#EFEFF0;padding:4px;text-align:center;" width="26"></td>
	<td style="background:#EFEFF0;padding:4px;" colspan="2"><strong style="font-size:123%;color:#333;font-weight:bold;"><%=@finder.f_to%></strong>
	<a href="/timetable/select/?no=32" target="_blank" class="action_button">時刻表を表示(製作中)</a>
	<a href="javascript:void(0)" onclick="selectMapPlain(32, null);return false;" class="action_map">地図（製作中）</a></td>

</tr>

</table>