<!DOCTYPE html>
<html>
  <head>
    <title>宇都宮駅発バス、乗り場検索</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
		<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
